[Desktop Entry]
Type=Application
Name=KCalc
Comment=Scientific calculator
Icon=application-x-executable
Exec=konveyor-test-launch org.kde.kcalc
Categories=Utility;Calculator;
